main{
    padding-top: 7em;
    min-height: 90vh;
}
main a{color: var(--secondaryColor);}
main a:hover{color: var(--secondaryColorDark);}

main h1,h2,h3{text-align: center;}

main h1{font-size: clamp(2.5rem, 8vw, 3.5rem);}
main h2{font-size: clamp(1rem, 4vw, 1.5rem); padding-bottom: 0.5rem;}
main h3{font-size: clamp(1.5rem, 4vw, 2.5rem); padding-top: 2rem}
main h4{font-size: clamp(1.2rem, 3vw, 1.5rem);}

.row{margin:1rem 0;}
.col{text-align: center;}

footer .row{
    margin: 0;
}

@media only screen and (min-width: 992px) {
    hr{
        display: none;
    }
}