:root{
    --secondaryColor: #4bf5a3;
    --secondaryColorDark: #46aa7a;
}

h1{
    padding-bottom: 1em;
}

h3{font-weight: 700;}

main{
    padding-top: 7em;
}

main a{
    color: var(--secondaryColor);
}

main a:hover{
    color: var(--secondaryColorDark);
}

div>a{
    text-decoration: none;
    font-size: 1.4em;
}

.row{
    margin:1em 0;
}

.col{text-align: center;}
h1,h2{text-align: center;}
h1{font-size: 3.5em}
h2{font-size:1.5em}