/* Header
----------------------------------------
*/
header{
	background-color: #1d252900;
	text-shadow: 0.2rem 0.2rem 0.2rem #000;
	transition: ease-in background-color 300ms, text-shadow 500ms;
}

#header-logo{
	filter: drop-shadow(0.2rem 0.2rem 0.2rem #000);
	transition: ease-in filter 500ms;
}

@media only screen and (min-width:992px){
	#nav-item-holder{
		text-shadow: 0.2rem 0.2rem 0.2rem #000;
		transition: ease-in text-shadow 500ms;
	}
}

/* Carousel Handler
----------------------------------------
*/
#carousel-holder {
	background-color: #2f2e31;
	overflow: hidden;
	position: relative;
	transform: translate(0, -76px);
	padding-top: 76px;
    z-index: 1;
}

#main-carousel {
	opacity: 0.6;
    width: 100%;
    transform: translate(0, -15vh);
	position: absolute;
}


/* Carousel Content
----------------------------------------
*/

#carousel-content {
	position: relative;
	text-align: center;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1{
    font-size: clamp(3.5rem, 10vw, 5rem);
    font-weight: 700;
	filter: drop-shadow(0.3rem 0.3rem 0.25rem #191d1f);
	margin-bottom: 0;
}

#tag-line{
	font-size: 2rem;
	filter: drop-shadow(0.2em 0.2em 0.1em #191d1f);
	margin: 0 0 24px 0;
}

#hero-logo{
	max-height: 25rem;
	filter: drop-shadow(0.3rem 0.3rem 0.25rem #191d1f);
	padding: 2.5rem;
}

#carousel-content a{
	padding: 16px;
	width: 12rem;
	display: inline-block;
	text-decoration: none;
	transition: clip-path 500ms ease-in-out, scale 500ms ease-in-out;
}

#carousel-content a:hover{
	scale: 1.025;
	position: relative;
}

#play-now-cta{
	clip-path: polygon(10px 0%, 100% 0, 100% 0, 100% 100%, 100% 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);
	background-color: var(--secondaryColor);
	color: black;
}

#play-now-cta:hover{
	clip-path: polygon(30px 0%, 100% 0, 100% 0, 100% 100%, 100% 100%, 0px 100%, 10px 66%, 20px 33%);
}

#discord-cta{
	clip-path: polygon(0% 0%, calc(100% - 20px) 0%, calc(100% - 10px) 10px, calc(100% - 10px) calc(100% - 10px), calc(100% - 20px) 100%, 0% 100%);
	background-color: var(--primaryLight);
	color: #fff;
}

#discord-cta:hover{
	clip-path: polygon(0% 0%, calc(100% - 30px) 0%, calc(100% - 20px) 33%, calc(100% - 10px) 66%, 100% 100%, 0% 100%);
}

#carousel-content span{
	filter: drop-shadow(0px 0px 70px #ffffff00);
	transition: filter 2s linear;
}

#carousel-content span:first-of-type:hover{
	filter: drop-shadow(0px 0px 70px var(--secondaryColor));
}

#carousel-content span:last-of-type:hover{
	filter: drop-shadow(0px 0px 70px black);
}


/* Features / Body 
----------------------------------------
*/

.fifty-fifty{
	display: flex;
}

.info-title{
	font-size: clamp(2rem, 3vw, 3rem);
}

.features-title{
	font-size: clamp(2rem, 3vw, 3rem);
}

.features-paragraph, .info-paragraph{
	font-size: clamp(1rem, 3vw, 1.5rem);
}

.img-info{
	max-width: 90%;
	border-radius: 0.5rem;
}

h4{
	font-size: clamp(1.5rem, 3vw, 2rem);
}

/* 
Footer
----------------------------------------
*/

footer{
	margin-top: 1.75rem;
}