/* Header
----------------------------------------
*/
#navTop{
	background-color: #1d252900;
	text-shadow: 0.2rem 0.2rem 0.2rem #000;
	transition: ease-in background-color 300ms, text-shadow 500ms;
}

#headerLogo{
	filter: drop-shadow(0.2rem 0.2rem 0.2rem #000);
	transition: ease-in filter 500ms;
}

/* Carousel Handler
----------------------------------------
*/
#carouselHolder {
	background-color: #2f2e31;
	overflow: hidden;
	position: relative;
	transform: translate(0, -76px);
	padding-top: 76px;
    z-index: 1;
}

#mainCarousel {
	opacity: 0.6;
    width: 100%;
    transform: translate(0, -15vh);
	position: absolute;
}

#carouselContent {
	position: relative;
	text-align: center;
	color: white;
}


/* Carousel Content
----------------------------------------
*/
h1{
    font-size: clamp(3.5rem, 10vw, 5rem);
    font-weight: 700;
	filter: drop-shadow(0.3rem 0.3rem 0.25rem #191d1f);
}

#tagLine{
	font-size: 2rem;
}

#heroLogo{
	max-height: 25rem;
	filter: drop-shadow(0.3rem 0.3rem 0.25rem #191d1f);
}

#carouselContent h2 {filter: drop-shadow(0.2em 0.2em 0.1em #191d1f);}

#playNow{
	background-color: #4bf5a3;
	color: black;
}

#playNow:hover{background-color: #50ce91;}

/* Features / Body 
----------------------------------------
*/

.infoTitle{
	font-size: clamp(2rem, 3vw, 3rem);
}

.featuresTitle{
	font-size: clamp(2rem, 3vw, 3rem);
}

.featuresParagraph, .infoParagraph{
	font-size: clamp(1rem, 3vw, 1.5rem);
}

main{
	padding-top: 4.7rem;
}

.imgInfo{
	max-width: 90%;
	border-radius: 0.5rem;
}

h4{
	font-size: clamp(1.5rem, 3vw, 2rem);
}

/*
Modal 
----------------------------------------
*/

.modal-content{
	background-color: var(--primaryColor);
}

.modal-footer{
	border-color: var(--primaryLight);
}

.modal-header{
	border-width: 0;
}

.modal .btn-close{
	display: none;
}