:root{
    --primaryColor: #1d2529;
    --primaryLight: #283035;
    --secondaryColor: #4bf5a3;
    --secondaryColorDark: #46aa7a;
    --muteText: #6c757d;
}

*{
    font-family:"Titillium Web", Arial, Helvetica, sans-serif;
}

/* Header
----------------------------------------
 */

header{
    padding-left: 15em;
    font-size: 1.3rem;
}

header img{
    max-width: 3rem;
}

.gu-bg {
    background-color: var(--primaryColor);
    color: white;
}

.headerLogo{
    float: left;
}

.navbar-brand p {
    line-height: 50px;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}

/* Main
----------------------------------------
 */

body{
    background-color: #181d1f;
    color:white;
}

.external{ /* External link image */
    filter: invert(1);
    vertical-align: baseline;
}


/* Footer
----------------------------------------
 */

footer{
    margin-top: 1em;
    border-top: solid 2px #283035;
    text-align: center;
    background-color: var(--primaryColor);
    padding: 1em 5em;
}

footer p{
    color: var(--muteText); 
    margin:0;
    font-size: 1em
}

footer a{
    color:#b4b4b4;
    text-decoration: none;
}

footer a:hover{
    color: var(--secondaryColor)
}

/* Misc
----------------------------------------
*/

.clear{
clear: both;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color:  var(--primaryColor);
    border-radius: 2px;

}

::-webkit-scrollbar-thumb {
    background: var(--primaryLight);
    border-radius: 10px;
    border-top: 2px solid rgba(80, 80, 80, 0.349);
    border-bottom: 2px solid rgba(80, 80, 80, 0.349);
}