:root{
    --secondaryColor: #4bf5a3;
    --secondaryColorDark: #46aa7a;
}

*{
    font-family:"Titillium Web", Arial, Helvetica, sans-serif;
}

header{
    padding-left: 15em;
    font-size: 1.3rem;
}

header img{
    max-width: 3rem;
}

.gu-bg {
    background-color: #1d2529;
    color: white;
}

.headerLogo{
    float: left;
}

.navbar-brand p {
    line-height: 50px;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}


body{
    background-color: #181d1f;
    color:white;
}

.external{
    filter: invert();
    vertical-align: baseline;
}

footer{
    margin-top: 1em;
    border-top: solid 2px #283035;
    text-align: center;
    background-color: #1d2529;
    padding: 0.5em 5em;
}

footer p{padding: 0.5em 1em 0.5em; color: #6c757d; margin:0;}

footer a{
    color:#b4b4b4;
    text-decoration: none;
}

footer a:hover{
    color: var(--secondaryColor)
}