main{
    padding-top: 7em;
    min-height: 90vh;
}

.weaponTitle{
    width: auto;
    padding-right: 0.3em;
}
.weaponSubtitle{
    width: auto;
    padding: 0;
    margin: 0;
    display: inline;
    vertical-align: bottom;
}

h1,h2{text-align: center;}
h1{font-size: 3.5em}
h2{font-size:1.5em}