main{
    padding-top: 7em;
    min-height: 90vh;
}

h1,h2{text-align: center;}

h1{font-size: clamp(2.5rem, 8vw, 3.5rem)}
h2{font-size: clamp(1rem, 4vw, 1.5rem)}

.weaponTitle{
    width: auto;
    margin: 0;
    padding: 0;
    padding-right: 0.2em;
    font-size: clamp(1.5rem, 3vw, 2rem);
}

.weaponSubtitle{
    width: auto;
    padding: 0;
    color: var(--muteText);
}

.weaponIMG{
    max-width: 100%;
}

.row ul{clear: both;}
.row ul li{
    list-style-type: "- ";
    font-size: clamp(0.75rem, 3vw, 1rem);
}

@media only screen and (min-width:1400px) {
    .weaponTitle{float: left;}
    .weaponSubtitle{padding: 1.2em 0 0 0;}
}

@media only screen and (min-width: 576px) and (max-width: 992px){
    .weaponTitle{float: left;}
    .weaponSubtitle{padding: 3.5% 0 0 0;}
}